@using QLNHATHAU.Models
@model PagedList.IPagedList<ApproveTHValidation>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<style>
    #btn-add {
        margin-right: 15px;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .button_create {
        float: right;
        margin-bottom: 15px;
    }

    .icon_action {
        cursor: pointer;
        /*margin-left: 10px;*/
    }

    .center-td {
        text-align: center;
        vertical-align: middle;
    }

    .file_icon {
        font-size: 25px;
        color: orange;
        cursor: pointer;
    }

    ul#selectedValue {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: #f2f2f2;
    }

        ul#selectedValue li.ui-menu-item {
            padding: 2px 5px;
        }

            ul#selectedValue li.ui-menu-item:hover {
                background-color: #ccc
            }

            ul#selectedvalue li.ui-menu-item a:link, a:active, a:visited, a:hover {
                text-decoration: none;
                color: black;
            }
</style>
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<div class="divbreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="/"><i class="menu-icon fa fa-recycle"></i> Phê duyệt </a></li>

        <li class="breadcrumb-item active">Đã phê duyệt</li>
    </ol>
</div>
<div class="card mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                <thead class="thead-light">
                    <tr>
                        <th width="30px">STT</th>
                        <th width="150px" class="text-center"> Mã Nhân Viên </th>
                        <th width="200px" class="text-center"> Họ Tên </th>
                        <th width="200px" class="text-center"> Phòng Ban </th>
                        <th class="text-center"> Vị Trí Làm Việc </th>
                        <th class="text-center"> Bảo hộ lao động theo vị trí </th>
                        <th width="250px" class="text-center"> Ghi Chú </th>
                        <th width="100px" class="text-center"> Thao tác </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int pageno = (int)Model.PageNumber;
                        int itemperpage = (int)Model.PageSize;
                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                            <td>@item.MaNV </td>
                            <td>@item.HoTen</td>
                            <td>@item.TenPB</td>
                            <td>@item.TenVT</td>
                            <td>@item.TenBHLDTVT</td>
                            <td>@item.GhiChu</td>
                            <td class="center-td">
                                <a class="icon_action" title="Hủy" href="@Url.Action("Delete", "CompleteapprovalTH", new { id = item.IDPDTH })"
                                   onclick="return confirm('Bạn muốn xóa tên : @item.HoTen')"><i class="fa fa-minus-square-o"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", "CompleteapprovalTH", new { page }))
                <span class="pageoff"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>

            </div>
        </div>
    </div>
</div>
