@model QLNHATHAU.Models.QuitjobValidation
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style>

    /* a:link, a:active, a:visited, a:hover {
            text-decoration: none;
            color: black;
        }*/
    /*--- DROPDOWN ---*/
    ul#selectedValue {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: #f2f2f2;
        z-index: 10;
    }

        ul#selectedValue li.ui-menu-item {
            padding: 2px 5px;
        }

            ul#selectedValue li.ui-menu-item:hover {
                background-color: #ccc
            }
</style>
@using (Html.BeginForm("Create", "Quitjob", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1">Mã nhân viên</label>
                            @Html.EditorFor(model => model.MaNV, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập Mã NV", @id = "MaNV" } })
                            @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })

                        </div>
                        <ul id="selectedValue"></ul>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1">Họ tên</label>
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập họ tên", @id = "Hoten" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label class="small mb-1">Phòng Ban</label>

                            @Html.DropDownListFor(model => model.PhongBanID, ViewBag.PBList as SelectList, "--Bộ phận / Nhà máy--", new { @id = "PhongBanID", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PhongBanID, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label class="small mb-1">Vị trí làm việc</label>
                            @Html.DropDownListFor(model => model.VTLVID, ViewBag.VTList as SelectList, "--Vị trí làm việc--", new { @id = "VTLVID", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VTLVID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1">Ngày Nghỉ Việc</label>
                            @Html.EditorFor(model => model.NgayNV, new { @value = DateTime.Today, htmlAttributes = new { @class = "form-control", @type = "date", placeholder = "Ngày nghỉ việc", @id = "NgayNV" } })
                            @Html.ValidationMessageFor(model => model.NgayNV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1">Ghi Chú</label>
                            @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control", placeholder = "Ghi Chú", @id = "GhiChu" } })
                            @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="col-md-12" style="margin-left: 170px;">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" id="btninsert" />
                </div>
            </div>
        </div>
    </div>
}
<style>
    .button_submit {
        float: right;
        margin-bottom: 15px;
    }

    .button_cancel {
        float: right;
        margin-right: 15px
    }

    .margin-checkbox {
        margin-right: 30px;
    }
</style>
<script type="text/javascript">
    $("#NhanSuID").chosen({
        width: "100%"
    });

    var textbox;
    var Hoten;
    var PhongBanID;
    var selectValue;
    $(function () {
        textbox = $("#form #MaNV");
        selectValue = $('#form ul#selectedValue');
        textbox.on("input", function () {
            if (textbox.val().length > 6) {
                getAutoComplete(textbox.val());
            }
            
        });
    });
    function getAutoComplete(search) {
        if (search != '') {
            var uri = "/Quitjob/GetNhanvien";
            $.getJSON(uri, { search: search })
                .done(function (data) {
                    selectValue.html("");
                    var count = 0;
                    $.each(data, function (key, item) {
                        //$('<option>').text(item).appendTo('#selectedValue');
                        var li = $('<li/>').addClass('ui-menu-item').attr('role', 'menuitem')
                            .html("<a href='#' onclick=\"setText('" + item.MaNV + "','" + item.HoTen + "'," + item.PhongBanID + "," + item.VTLVID + ")\">" + item.MaNV + " - " + item.HoTen + "</a>")
                            .appendTo(selectValue);

                        count++;
                    });
                });
        }
        else { selectValue.html(""); }
    }
    function setText(MaNV, HoTen, PhongBanID, VTLVID  ) {
        //alert(MaNV);
        textbox.val(MaNV);
        $("#form #Hoten").val(HoTen);
        $("#form #Hoten").attr('readonly', true);
        $("#form #VTLVID").val(VTLVID);
        $("#form #VTLVID").attr('disabled', 'disabled');
        $("#form #PhongBanID").val(PhongBanID);
        $("#form #PhongBanID").attr('disabled', 'disabled');
        selectValue.html("");

    }


</script>









