@using QLNHATHAU.Models
@model PagedList.IPagedList<SignerValidation>
@using PagedList.Mvc
@{
    ViewBag.Title = "Approved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<style>
    #btn-add {
        margin-right: 15px;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .button_create {
        float: right;
        margin-bottom: 15px;
    }

    .icon_action {
        cursor: pointer;
        /*margin-left: 10px;*/
    }

    .center-td {
        text-align: center;
        vertical-align: middle;
    }

    .file_icon {
        font-size: 25px;
        color: orange;
        cursor: pointer;
    }

    ul#selectedValue {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: #f2f2f2;
    }

        ul#selectedValue li.ui-menu-item {
            padding: 2px 5px;
        }

            ul#selectedValue li.ui-menu-item:hover {
                background-color: #ccc
            }

            ul#selectedvalue li.ui-menu-item a:link, a:active, a:visited, a:hover {
                text-decoration: none;
                color: black;
            }
</style>



<div class="card mb-4">
    <div class="card-header">
        <label class="card-title pull-left"> Hợp Đồng </label>
        <button type="button" id="btn-add" class="btn btn-primary pull-right" data-target="#myModal"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
        <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="scrollmodalLabel" aria-hidden="true" data-url='@Url.Action("Create","Contractors")'></div>
        <script type="text/javascript">
            $('#btn-add').click(function () {
                var url = $('#myModal').data('url');
                $.get(url, function (data) {
                    $("#myModal").html(data);
                    $("#ModalTitle").html("Thêm nhà thầu");
                    $("#myModal").modal('show');
                });
            });
        </script>

    </div>
    <div class="card-body">
        <link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                <thead class="thead-light">
                    <tr>
                        <th width="30px">STT</th>
                        <th class="text-center">Tên Hợp Đồng </th>
                        <th class="text-center">Tên Nhà Thầu </th>
                        <th class="text-center"> Thao Tác </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int pageno = (int)Model.PageNumber;
                        int itemperpage = (int)Model.PageSize;
                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                            <td class="text-center">@item.TenHoSo</td>
                            <td class="text-center">@item.TenNhaThau</td>
                            <td class="center-td">
                                &nbsp;
                                <a id="Check_@item.ID" class="icon_action" title="Phê Duyệt"><i class="fa fa-check-square-o"></i></a>

                                <div class="modal fade" id="myModale_Check_@item.ID" role="dialog" tabindex="-1" aria-labelledby="scrollmodalLabel" aria-hidden="true" data-url='@Url.Action("Signerl","Signer", new { id = item.ID })'></div>
                                <script type="text/javascript">
                                        $("#Check_@item.ID").click(function () {
                                            var url = $('#myModale_Check_@item.ID').data('url');

                                            $.get(url, function (data) {

                                                $("#myModal").html(data);
                                                $("#ModalTitle").html("Trình ký");
                                                $("#myModal").modal('show');

                                            });
                                        });
                                </script>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Approved", "Signer", new { page }))
                <span class="pageoff"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>

            </div>
        </div>
    </div>
</div>
