
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using QLNHATHAU.Models;
@model PagedList.IPagedList<NhaThauValidation>
@using PagedList.Mvc;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />


<div class="card mb-4">
    <div class="card-header">

        <label class="pull-left">Thống kê Nhà thầu</label>
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" width="100px">STT</th>
                        <th width="180px">Mã Nhà thầu</th>
                        <th >Tên Nhà thầu</th>
                        <th class="text-center" width="180px">SL Hạng mục</th>
                        <th class="text-center" width="300px">SL Nhân viên</th>
                        <th class="text-center" width="150px">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int pageno = (int)Model.PageNumber;
                        int itemperpage = (int)Model.PageSize;
                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                    }

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                            <td>@item.MaNT </td>
                            <td>@item.Ten</td>
                            <td class="text-center">@item.SLHD</td>
                            <td class="text-center">@item.SLNhanVien</td>
                            <td class="text-center"></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", "ContractorStatistics", new { page }))
                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
            </div>
        </div>
    </div>
</div>




