@model QLNHATHAU.Models.UserLogin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản lý bảo hộ lao động</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" type="image/png" />

    <link href="~/Content/assets/css/style_login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="bg-text">
        <div class="container" id="container">
            <div class="form-container log-in-container">
                @using (Html.BeginForm("Index", "Login", new { id = "myForm" }))
                {
                    <h1 style="color:#05428c;"> ĐĂNG NHẬP </h1>
                    @Html.TextBoxFor(m => m.Username)
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.CheckBoxFor(m => m.RememberMe)
                    <a href="#"> Quên mật khẩu?</a>
                    <button> ĐĂNG NHẬP </button>
                }
            </div>
            <div class="overlay-container">
                <div class="overlay">
                </div>
                <div class="overlay-panel overlay-right">
                    <img src="/images/logoH50.png">
                    <h3 style="margin-top: 0px;">
                    QUẢN LÝ <br />
                    BẢO HỘ LAO ĐỘNG
                    </h3>
                    <div style="margin-top: 200px;">
                        <p><a href="mailto:anmt@hoaphat.com.vn"><i class="fa fa-envelope-o" aria-hidden="true"></i> atmt@hoaphat.com.vn</a></p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="">
                <p>Copyright © Công ty CP Thép Hòa Phát Dung Quất 2017 - @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
</body>
</html>
