
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using QLNHATHAU.Models;
@model PagedList.IPagedList<StatisticalValidation>
@using PagedList.Mvc;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />


<div class="card mb-4">
    <div class="card-header">

        <label class="pull-left">Thống kê Nhà thầu</label>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" width="100px">STT</th>
                        <th>Tên Phòng Ban </th>
                        <th  width="200px" class="text-center" width="180px">Bảo Hộ Lao Động Định Kỳ </th>
                        <th  width="200px" class="text-center" width="300px">Bảo Hộ Lao Động Tiêu Hao </th>
                        <th  width="230px" class="text-center" width="300px">Bảo Hộ Lao Động Nhân Viên Mới </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int pageno = (int)Model.PageNumber;
                        int itemperpage = (int)Model.PageSize;
                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                    }

                    @foreach (var item in Model)
                    {

                    <tr>
                        <td class="text-center"> @RowNo@{RowNo++;}</td>
                        <td>@item.TenPhongBan</td>
                        <td class="text-center">@item.SLDK</td>
                        <td class="text-center">@item.SLTH</td>
                        <td class="text-center">@item.SLNVM</td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Statistical", new { page }))
                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
            </div>
        </div>
    </div>
</div>




