@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QLNHATHAU.Models
@model PagedList.IPagedList<DangKyHocAnToanValidation>
@using PagedList.Mvc
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />
<div class="divbreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="/"><i class="fa fa-arrows-alt"></i> Quản lý nhà thầu</a></li>
        <li class="breadcrumb-item"> <a href="/"> Đào tạo an toàn</a></li>
        <li class="breadcrumb-item active">Đăng ký</li>
    </ol>
</div>
<div class="card mb-4">
    <div class="row">
        <div class="card-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <div class="searchdiv">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" id="txtshd" name="input2-group2" placeholder="Số HĐ" class="form-control" value="@ViewBag.shd">
                                </div>
                                <div class="col-md-5">
                                    @Html.DropDownList("NTList", null, "--Tất cả--", new { id = "IDNhaThau", @class = "form-control", @style = "width:100%", })
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownList("TTList", null, "--Tất cả--", new { id = "IDTinhTrang", @class = "form-control", @style = "width:100%", })
                                </div>
                                <div class="col-md-2">
                                    <div class="divsearchex">
                                        <button type="button" id="btsearch" class="btn btn-primary pull-left"><i class="fa fa-search">&nbsp;</i>&nbsp;Tìm kiếm </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button type="button" id="btn-Import" class="btn btn-primary pull-right"><i class="fa fa-file-excel-o">&nbsp;</i>&nbsp;Import dữ liệu </button>
                        <div class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ImportExcel","Safeenrollment")'></div>
                        <button type="button" id="btn-add" class="btn btn-primary pull-right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                        <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","Safeenrollment")'></div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                <thead class="thead-light">
                    <tr>
                        <th width="30px">STT</th>
                        <th>Chỉ huy trưởng</th>
                        <th>Hợp đồng</th>
                        <th> Nhà thầu</th>
                        <th width="170px" class="text-center"> Ngày dự kiến học</th>
                        <th width="180px" class="text-center"> Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int pageno = (int)Model.PageNumber;
                        int itemperpage = (int)Model.PageSize;
                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center"> @RowNo@{RowNo++;}</td>
                            <td>@item.ChiHuyTruong</td>
                            <td>@item.TenHopDong </td>
                            <td>@item.TenNhaThau</td>
                            <td class="text-center">@item.NgayDuKienHoc.Value.ToString("dd-MM-yyyy")</td>


                            <td class="text-center">
                                <a href="@Url.Action("Details","Safeenrollment", new { id = item.IDDKHAT })" title="Xem chi tiết" class="btn-action"><i class="fa fa-info-circle"></i></a>


                                &nbsp;
                                <a class="btn-action" title="Xóa" href="@Url.Action("Delete", "Safeenrollment", new { id = item.IDDKHAT })"
                                   onclick="return confirm('Bạn muốn xóa hợp đồng có số HD: @item.IDDKHAT')"><i class="fa fa-trash"></i> </a>
                                &nbsp;
                                <a class="btn-action" id="Check_@item.IDDKHAT" href="#" title="Trình ký"><i class="fa fa-share-square"></i></a>

                                <div class="modal fade" id="myModale_Check_@item.IDDKHAT" role="dialog" data-url='@Url.Action("CheckInformation","Contract", new { id = item.IDDKHAT })'></div>
                                <script type="text/javascript">
                                    $("#Check_@item.IDDKHAT").click(function () {
                                        var url = $('#myModale_Check_@item.IDDKHAT').data('url');
                                        $.get(url, function (data) {
                                            $("#myModal").html(data);
                                            $("#ModalTitle").html("Trình ký");
                                            $("#myModal").modal('show');
                                        });
                                    });
                                </script>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Safeenrollment", new { page }))
                <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Đăng ký học an toàn");
            $("#myModal").modal('show');
        });
    });

    $('#btn-Import').click(function () {
        var url = $('#myModalimport').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("Chọn file dữ liệu");
            $("#myModal").modal('show');
        });
    });
</script>





